{% extends 'base.html' %}
{% block content %}
<div>
    <a href="{% url 'devroom_status:export' %}">記録のダウンロード</a>
</div>
<h1>過去1時間のグラフ</h1>
<img src="{% url 'devroom_status:plot' %}">
<h1>過去1時間の記録</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">日時</th>
            <th scope="col">気温</th>
            <th scope="col">湿度</th>
            <th scope="col">二酸化炭素濃度</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ object.created_at }}</td>
            <td>{{ object.temperature }}</td>
            <td>{{ object.humidity }}</td>
            <td>{{ object.co2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
